[Unit]
Description=Dex IDP Service
ConditionPathExists=/home/appserver/svr/dex
After=network.target

[Service]
Type=simple
User=appserver
Group=devops
LimitNOFILE=1024

Restart=on-failure
RestartSec=10
startLimitIntervalSec=60

WorkingDirectory=/home/appserver/svr/dex
ExecStart=/home/appserver/svr/dex/run-server.sh


# make sure log directory exists and owned by syslog
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/log/appserver
ExecStartPre=/bin/chown syslog:adm /var/log/appserver
ExecStartPre=/bin/chmod 755 /var/log/appserver
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=appserver

[Install]
WantedBy=multi-user.target

